<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="built" content="<%= htmlWebpackPlugin.options.built %>">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="<%= htmlWebpackPlugin.options.nodeId %>"></div>
</body>
</html>
