
// Colors
$white: #ffffff;
$black: #686868;
$blue-color: #1A8CFF;
$blue-light-color: #80bfff;
$gray-light-color: #F6F7FB;
$gray-medium-light: #E4E6E7;
$gray-medium-dark: #999999;
$gray-dark-color: #333333;
$red-color: #E60000;
$green-color: #7EDA79;

$color-white: #ffffff;
$color-black: #686868;
$color-gray-light: #a5a5a5;
$color-red: #E60000;
$color-green: #7EDA79;
$color-blue: #1A8CFF;

// Fonts
$font-size-large: 24px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-smaller: 10px;

* {
  color: $black;
  font-family: -apple-system;
  font-size: $font-size-medium;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  height: 60px;
  background-color: $color-blue;

  .title {
    color: $color-white;
    cursor: pointer;
    align-self: center;
    flex-grow: 1;
    padding-left: 15px;
    font-size: $font-size-large;
  }

  .user-name {
    align-self: center;
    color: $color-white;
    cursor: pointer;
    font-size: $font-size-medium;
    padding-right: 15px;
  }
}

button {
  background-color: $color-white;
  border: 1px solid $color-blue;
  border-radius: 6px;
  color: $color-blue;
  padding: 6px 8px;
  min-width: 40px;

  i {
    color: inherit;
  }
}

button:hover {
  background-color: $gray-light-color;
}


@import './Dashboard.scss';
@import './TextEditor.scss';
