.texteditor {
  display: inline-block;
  margin-top: 10px;
  width: 100%;

  &-container {
    height: 500px;
    border: 1px solid black;
    overflow: scroll;
    margin-top: 10px;
  }

  &-content {
    width: 100%;
    height: 100%;
    margin: 3px;
    outline: none;

    .placeholder {
      background-color: lightgreen;
      cursor: pointer;
    }

    a {
      color: blue;
      cursor: pointer;
    }
  }
}